build/
packages/
bin/packages
web/packages

*.dart.js
*.js_
*.js.deps
*.js.map
*.dart.precompiled.js

# Ignore files containing state or configuration
history.json
config.dart

# Ignore autosave files
*~
*.autosave
