
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #ffffff; 
  overflow: hidden;
  width: 100%;
}

.ng-cloak {
  display: none;
}

#header {
  background-color: #242424;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  padding: 15px;
}

#header h1 {
  text-align: center; 
  font-size: 3em;
  margin: 0;
}

#exchange {
  overflow: auto; 
  max-width: 1640px;
  margin: auto;
}

.stock-container {
  float: left;
  border: 1px solid #000000;
  padding: 15px;
  font-size: 3.5em;
  margin: 10px;
  background-color: #242424;
  width: 800px;
  position: relative;
  
  /* Animate fade-in */
  animation: fadein 500ms;
  -webkit-animation: fadein 500ms;
}

.stock-name {  
  width: 280px;
  float: left;
}

.stock-name .stock-label {
  width: 100%;
}

.stock-initial .stock-label {
  width: 100%;
}

.stock-initial, .stock-current {
  float: left;
}

.stock-label {
  width: 200px;
  display: inline-block;
  color: #ababab;
  font-size: 75%;
}

.stock-header {
  width: 100%;
}

.stock-current .stock-label {
  width: 100%;
}

/*
 ANIMATION 
*/

@keyframes fadein
{
0% { opacity: 0; top: -1000px; }
100% { opacity: 1; top: 0; }
}

@-webkit-keyframes fadein /* Safari and Chrome */
{
0% { opacity: 0; top: -1000px; }
100% { opacity: 1; top: 0; }
}


